* {
  box-sizing: border-box;
}

html {
  font-size: 75%;
  /* box-sizing: border-box;*/
  overflow-y: auto;
}

h1 {
  margin: 5rem auto;
  text-align: center;
  font-size: 4rem;
}

/* body {
  display: none;
} */

.link {
  font-size: 1.5rem;
}

.container {
  display: flex;
  flex-direction: column;
  height: 25rem;
  display: block;
}

.big-container {
  margin: 0 auto;
  width: 85rem;
  display: flex;
  align-items: flex-end;
  margin-bottom: 2rem;
  /* align-self: flex-start; */
}

.input {
  display: block;
  margin-left: 7rem;
  width: 15rem;
  height: 3rem;
  font-size: 2.5rem;
  text-align: center;
  align-self: center;
}

.time-display {
  width: 12rem;
  height: 2.5rem;
  border: 2px solid rgba(60, 60, 60, 0.8);
  margin-left: 3rem;
  font-size: 2rem;
  text-align: center;
  align-self: center;
}

.which-letters {
  width: 15rem;
  height: 4rem;
  font-size: 2rem;
  /* display: block; */
  text-align: center;
  /* vertical-align: middle; */
  line-height: 2;
}

.button {
  font-size: 1.75rem;
  height: 3rem;
  align-self: center;
}

.pause {
  margin-left: 3rem;
}

.which-letters-container,
.which-words-container {
  display: flex;
  justify-content: center;
  gap: 15px;
  align-items: center;
  align-self: center;
  height: 8rem;
  flex: 1 0 auto;
}

.letters {
  font-size: 5rem;
  margin: 2rem 0;
  width: 30px;
  text-align: center;
  padding-top: 5rem;
}

.words {
  font-size: 5rem;
  margin-top: 7rem;
  width: 30px;
  text-align: center;
}

.letters-typed-container {
  display: flex;
  /* display: none; */
  justify-content: center;
  gap: 15px;
  /* align-self: flex-end; */
  margin-top: 0rem;
  height: 8rem;
  flex: 0 1 auto;
}

.letters-typed {
  height: 10.5rem;
  font-size: 5rem;
  margin: 2rem 0;
  width: 30px;
  text-align: center;
  align-self: center;
  border-bottom: 0.5px solid rgba(20, 20, 20, 0.5);
  padding-top: 5rem;
  /* color: red; */
}

.words-typed {
  margin-top: 10rem;
}

.words-start {
  position: absolute;
  left: 83%;
  width: 13rem;
}
